
input[type=range] {
-webkit-appearance: none;
background-color: transparent;
width: 300px;
height: 38px;
  padding-top:10px;
  overflow:hidden;
margin: 0;
margin-left: -20px;
transform-style: preserve-3d;
perspective: 300;

}

input[type="range"]::-webkit-slider-thumb {
  position:relative;
     -webkit-appearance: none;
    cursor:pointer;
    background-color: transparent;
    width: 30px;
    height: 10px;
    box-shadow: 1px 5px 10px -1px rgba(0, 0, 0,0.2),
    -25px 0 0 10px rgba(0, 0, 0, 0.5),
    -75px 0 0 10px rgba(0, 0, 0, 0.5),
    -125px 0 0 10px rgba(0, 0, 0, 0.5),
    -175px 0 0 10px rgba(0, 0, 0, 0.5),
    -225px 0 0 10px rgba(0, 0, 0, 0.5),
    -275px 0 0 10px rgba(0, 0, 0, 0.5),
    -325px 0 0 10px rgba(0, 0, 0, 0.5);
  z-index:2;
}


input[type=range]:before {
content: "";
position: absolute;
background: rgb(110, 148, 137);
box-shadow:0 1px 0 rgb(235, 235, 235);
width: 283px;
left: 0;
height: 1px;
top: 29px;
z-index: 1;
}
input[type=range]:after {
content: "";
position: absolute;
background: rgb(190, 190, 190);
width: 7px;
left: 3px;
border-radius: 50%;
height: 6px;
top: 26px;
z-index: 1;
box-shadow:30px 0 0 rgb(190, 190, 190),
60px 0 0 rgb(190, 190, 190),
90px 0 0 rgb(190, 190, 190),
120px 0 0 rgb(190, 190, 190),
150px 0 0 rgb(190, 190, 190),
180px 0 0 rgb(190, 190, 190),
210px 0 0 rgb(190, 190, 190),
240px 0 0 rgb(190, 190, 190),
270px 0 0 rgb(190, 190, 190),
60px 1px 0 rgb(235, 235, 235),
90px 1px 0 rgb(235, 235, 235),
120px 1px 0 rgb(255, 255, 255),
150px 1px 0 rgb(235, 235, 235),
180px 1px 0 rgb(235, 235, 235),
210px 1px 0 rgb(235, 235, 235),
240px 1px 0 rgb(235, 235, 235),
270px 1px 0 rgb(235, 235, 235);
}


.mapa{
  background-image: url(ppuu.png);
  background-repeat: no-repeat;
height: 1000px;
margin-left: 560px;
margin-top: -105px;
}
#canvas{
  transform: rotate(2deg);
margin-top: 20px;
margin-left: 70px;
opacity: 0.6;
}

.options{
margin-left: 300px;
margin-top: 100px;

}

#budget{
margin-left: -270px;
font-family: 'Yu gothic light', sans-serif;
margin-top: -635px;
font-size: 30px;
}

.heatext{
  font-size: 22px;
width: 360px;
margin-left: -290px;
background-color:rgb(110, 148, 137);
text-align: center;
border-radius: 20px;
color: azure;
margin-top: 50px;
}

