@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

body {
    min-height: 100vh;
    font-family: "Sniglet", cursive;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}

.form-control:focus {
    box-shadow: none;
    border-color: #bb36fd!important;
}

.border-md {
    border-width: 2px;
}
.remember {
    margin-left: 20px;
}

.cad-btn {
    background: linear-gradient(45deg, #bb36fd, #9b00e8);
    border-color: #bb36fd;
}

.cad-btn:hover {
    border-color: #bb36fd;
}

.container h1 {
    color: #121212;
}
.container i {
    color: #bb36fd!important;
}

.text-lg {
    color: #bb36fd!important;
}

.ctn {
    margin-top: -100px!important;
}

.titulo {
    margin-left: 120px;
}

@media (max-width: 500px)
{
    .titulo {
        margin-left: 30px;
    }
}

@media (max-width: 400px)
{
    .titulo {
        margin-left: 25px;
    }
}
