:root {
    --background_color: #fff;
    --background_color-card: #fff;
    --font-color-preta: #101010;
    --font-color-branca: #fff;
    --top-shadow: #d6d6d6;
    --bottom-shadow: #ffffff;
    --icon-color: #551542;
}